.ordenada{
    background-color: yellow;
}

.imparOuPar:nth-of-type(even){
    color: green;
}

.imparOuPar:nth-of-type(odd){
    text-transform: uppercase;
}

h1,h2,h3{
    color: red;
}

.italicoComRed em{
    font-size: 40px;
    border: 1px solid black
}

li{
    font-size: 20px;
}

li em{
    font-weight: bold;
}
