* {
  text-align: center;
  margin-top: 0%;
}

#root {
  background-color: yellow;
}

.header {
  background-color: aquamarine;
  height: 50px;
  margin-bottom: 50px;
}

.body {
  color: blue;
}

.footer {
  background-color: aquamarine;
  height: 50px;
}